Is the Carthage pre-build release support ssh protocol?

I got this error:

`
UserInfo={NSLocalizedDescription=Failed to clone repository from ssh://git@github.com:libgit2/libgit2.github.com.git to file:///var/mobile/Containers/Data/Application/25C64264-6D01-4C84-B07A-75E591072832/Documents/password-store, NSUnderlyingError=0x17424dec0 {Error Domain=GTGitErrorDomain Code=-12 "Malformed URL 'ssh://git@github.com:libgit2/libgit2.github.com.git'" UserInfo={NSLocalizedDescription=Malformed URL 'ssh://git@github.com:libgit2/libgit2.github.com.git'}}}
`

Same issue in pygit2: https://github.com/libgit2/pygit2/issues/272

Hey, you can't have a colon in the SSH URL afaik. So `ssh://git@github.com:libgit2/libgit2.github.com.git` has to become `ssh://git@github.com/libgit2/libgit2.github.com.git`

Oh… right. I just copy a sample code in a test case. Sorry, my fault.

I have another question though, will open a new issue for it.

Why would an SSH URI not be allowed to have a colon?
https://tools.ietf.org/html/rfc3986#section-3 specifies this as `authority` vs. `path`.

With `ssh://git@github.com:libgit2/libgit2.github.com.git` you are accessing the `libgit2` folder in the home of the `git` user.

With `ssh://git@github.com/libgit2/libgit2.github.com.git` you are accessing a `/libgit2` folder sitting at root.

I think this should be fixed.

Quoth section 3.2 of RFC3886
```
The authority component is preceded by a double slash ("//") and is terminated by the next slash ("/"), question mark ("?"), or number sign ("#") character, or by the end of the URI.
```

In the first case, `git@github.com:libgit` is the authority (so `git` is userinfo (3.2.1), `github.com` is host, and `libgit2` becomes port, which is non-sensical.

At least that's how I understand it.

You are right. RFC3886 does not define the SCP style URLs.

However, git does as described in `git help clone`:

```
GIT URLS
       In general, URLs contain information about the transport protocol, the address of the remote server, and the path to the repository.
       Depending on the transport protocol, some of this information may be absent.

       Git supports ssh, git, http, and https protocols (in addition, ftp, and ftps can be used for fetching, but this is inefficient and
       deprecated; do not use it).

       The native transport (i.e. git:// URL) does no authentication and should be used with caution on unsecured networks.

       The following syntaxes may be used with them:

       ·   ssh://[user@]host.xz[:port]/path/to/repo.git/

       ·   git://host.xz[:port]/path/to/repo.git/

       ·   http[s]://host.xz[:port]/path/to/repo.git/

       ·   ftp[s]://host.xz[:port]/path/to/repo.git/

       An alternative scp-like syntax may also be used with the ssh protocol:

       ·   [user@]host.xz:path/to/repo.git/

       This syntax is only recognized if there are no slashes before the first colon. This helps differentiate a local path that contains a
       colon. For example the local path foo:bar could be specified as an absolute path or ./foo:bar to avoid being misinterpreted as an ssh
       url.
```

Interestingly enough, https://tools.ietf.org/html/draft-ietf-secsh-scp-sftp-ssh-uri-01#section-1 also does not define the colon as path separator.

So the implementation is correct not to implement it, however it seems that users are confused as git clone supports the scp-style colon syntax.

I would still vouch for adding it to the library.